<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<div th:include="~{includes/bootstrap :: bootstrapMeta}" th:remove="tag" />
<title>Game Manager</title>
<div th:include="~{includes/bootstrap :: bootstrapCSS}" th:remove="tag" />
<link
	href="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"
	rel="stylesheet">
</head>

<body>
	<div class="container" role="main">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form class="form-horizontal" method="post"
					th:action="${game} ? @{/editGame(id=${game.id})} : @{/addGame}">
					<fieldset>
						<legend th:text="${game}? 'Change Game' : 'New Game'">New
							Game</legend>

						<!--  ----------------  id ------------------- -->
						<div class="form-group">
							<label for="inputId" class="col-md-2 control-label">ID</label>
							<div class="col-md-10">
								<input class="form-control" id="inputId" type="text" name="id"
									th:value="${game} ? ${game.id}" th:readonly="${game}">
							</div>
						</div>

						<!-- --------------  Name ---------------------- -->
						<div class="form-group">
							<label for="inputName" class="col-md-2 control-label">Name
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputName" type="text"
									name="name" th:value="${game} ? ${game.name}">
							</div>
						</div>
						<!-- --------------  Developer ---------------- -->
						<div class="form-group">
							<label for="inputDeveloper" class="col-md-2 control-label">Developer
							</label>
							<div class="col-md-10">
								<input class="form-control" id="inputDeveloper" type="text"
									name="developer" th:value="${game} ? ${game.developer}">
							</div>
						</div>

						<!-- --------------  releaseDate ---------------- -->
						<div class="form-group">
							<label for="inputDate" class="col-md-2 control-label">Date</label>
							<div class="col-md-10">
								<input class="form_datetime" id="inputDate" placeholder="Date"
									type="text" readonly name="releaseDate"
									th:value="${game} ? ${#dates.format(game.releaseDate, 'dd.MM.yyyy')}">
							</div>
						</div>

						<!-- --------------  buttons ---------------- -->
						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" class="btn btn-primary">Submit</button>
								<a href="listGames" class="btn btn-default"> Cancel </a>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>

	</div>
	<!--  End of container -->
	<div th:include="~{includes/bootstrap :: bootstrapJS}" th:remove="tag" />

	<!-- JS for Datetime picker -->
	<script type="text/javascript"
		src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

	<script>
		$(function() {

			$(".form_datetime").datetimepicker({
				format : "dd.mm.yyyy",
				autoclose : true,
				todayBtn : true,
				pickerPosition : "bottom-left",
				minView : 2
			});

		});
	</script>

</body>

</html>